
.img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

// #path22-6,  #path20,
// #path10,    #path22,
// #path10-35, #path10-3,
// #path16,    #path18,
// #path10-6,  #path10-7,
// #path10-5 {
//     transform: translateX(20px);
// }