@import "./lib/shadcn/global.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Calibre", Arial, serif;
}

*::selection {
	background-color: black;
	color: white;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
}

._col-center {
	@apply flex flex-col justify-center items-center;
}
