body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  height: 100vh;
  position: relative;
  color: rgba(0, 0, 0, 0.65);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  margin: 0;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 12px;
}

h3 {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 5px;
  padding-left: 12px;
  margin: 12px 0 0 0;
  position: relative;
}

h4 {
  font-size: 0.9em;
  text-align: left;
  margin: 5px 0;
}
h4 + small {
  font-weight: lighter;
  margin-left: 10px;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  padding: 12px;
  justify-content: center;
  align-items: center;
  padding-left: 22px;
  text-align: center;
}
.header .header-title {
  width: 100%;
}
.header .header-title .title {
  margin: 0 12px 22px 12px;
  font-family: "Open Sans";
  font-weight: 600;
}
.header .header-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}
.header .header-image .cadre {
  width: 350px;
  height: 350px;
  background-color: silver;
  border-radius: 50%;
}
.header .header-image .img {
  background-color: silver;
}
@media only screen and (min-width: 600px) {
  .header {
    width: 100%;
    height: 100vh;
  }
  .header .title {
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 500;
    text-align: left;
    padding-left: 42px;
  }
}

.row {
  display: flex;
  flex-flow: column nowrap;
}
.row .sidebar,
.row .content {
  width: 100%;
  padding: 1px;
}
@media only screen and (min-width: 600px) {
  .row {
    flex-flow: row nowrap;
  }
  .row .content {
    width: 100%;
    height: 100%;
  }
  .row .sidebar {
    max-width: 300px;
    height: 100%;
  }
}

.section {
  padding: 12px;
  margin: 12px 0;
}
.section .section-content {
  margin: 22px 0 0 0;
}

.progress {
  width: 100%;
}
.progress .progress-bar {
  width: 90%;
  height: 3px;
  background-color: silver;
  margin: 22px 0;
  position: relative;
}
.progress .progress-bar [data-value="0"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 0% !important;
}
.progress .progress-bar [data-value="1"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 1% !important;
}
.progress .progress-bar [data-value="2"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 2% !important;
}
.progress .progress-bar [data-value="3"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 3% !important;
}
.progress .progress-bar [data-value="4"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 4% !important;
}
.progress .progress-bar [data-value="5"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 5% !important;
}
.progress .progress-bar [data-value="6"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 6% !important;
}
.progress .progress-bar [data-value="7"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 7% !important;
}
.progress .progress-bar [data-value="8"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 8% !important;
}
.progress .progress-bar [data-value="9"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 9% !important;
}
.progress .progress-bar [data-value="10"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 10% !important;
}
.progress .progress-bar [data-value="11"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 11% !important;
}
.progress .progress-bar [data-value="12"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 12% !important;
}
.progress .progress-bar [data-value="13"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 13% !important;
}
.progress .progress-bar [data-value="14"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 14% !important;
}
.progress .progress-bar [data-value="15"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 15% !important;
}
.progress .progress-bar [data-value="16"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 16% !important;
}
.progress .progress-bar [data-value="17"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 17% !important;
}
.progress .progress-bar [data-value="18"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 18% !important;
}
.progress .progress-bar [data-value="19"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 19% !important;
}
.progress .progress-bar [data-value="20"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 20% !important;
}
.progress .progress-bar [data-value="21"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 21% !important;
}
.progress .progress-bar [data-value="22"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 22% !important;
}
.progress .progress-bar [data-value="23"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 23% !important;
}
.progress .progress-bar [data-value="24"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  width: 24% !important;
}
.progress .progress-bar [data-value="25"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 25% !important;
}
.progress .progress-bar [data-value="26"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 26% !important;
}
.progress .progress-bar [data-value="27"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 27% !important;
}
.progress .progress-bar [data-value="28"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 28% !important;
}
.progress .progress-bar [data-value="29"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 29% !important;
}
.progress .progress-bar [data-value="30"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 30% !important;
}
.progress .progress-bar [data-value="31"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 31% !important;
}
.progress .progress-bar [data-value="32"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 32% !important;
}
.progress .progress-bar [data-value="33"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 33% !important;
}
.progress .progress-bar [data-value="34"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 34% !important;
}
.progress .progress-bar [data-value="35"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 35% !important;
}
.progress .progress-bar [data-value="36"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 36% !important;
}
.progress .progress-bar [data-value="37"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 37% !important;
}
.progress .progress-bar [data-value="38"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 38% !important;
}
.progress .progress-bar [data-value="39"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 39% !important;
}
.progress .progress-bar [data-value="40"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 40% !important;
}
.progress .progress-bar [data-value="41"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 41% !important;
}
.progress .progress-bar [data-value="42"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 42% !important;
}
.progress .progress-bar [data-value="43"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 43% !important;
}
.progress .progress-bar [data-value="44"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 44% !important;
}
.progress .progress-bar [data-value="45"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 45% !important;
}
.progress .progress-bar [data-value="46"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 46% !important;
}
.progress .progress-bar [data-value="47"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 47% !important;
}
.progress .progress-bar [data-value="48"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 48% !important;
}
.progress .progress-bar [data-value="49"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 49% !important;
}
.progress .progress-bar [data-value="50"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 50% !important;
}
.progress .progress-bar [data-value="51"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 51% !important;
}
.progress .progress-bar [data-value="52"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 52% !important;
}
.progress .progress-bar [data-value="53"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 53% !important;
}
.progress .progress-bar [data-value="54"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 54% !important;
}
.progress .progress-bar [data-value="55"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 55% !important;
}
.progress .progress-bar [data-value="56"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 56% !important;
}
.progress .progress-bar [data-value="57"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 57% !important;
}
.progress .progress-bar [data-value="58"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 58% !important;
}
.progress .progress-bar [data-value="59"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 59% !important;
}
.progress .progress-bar [data-value="60"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 60% !important;
}
.progress .progress-bar [data-value="61"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 61% !important;
}
.progress .progress-bar [data-value="62"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 62% !important;
}
.progress .progress-bar [data-value="63"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 63% !important;
}
.progress .progress-bar [data-value="64"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 64% !important;
}
.progress .progress-bar [data-value="65"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 65% !important;
}
.progress .progress-bar [data-value="66"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 66% !important;
}
.progress .progress-bar [data-value="67"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 67% !important;
}
.progress .progress-bar [data-value="68"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 68% !important;
}
.progress .progress-bar [data-value="69"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 69% !important;
}
.progress .progress-bar [data-value="70"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 70% !important;
}
.progress .progress-bar [data-value="71"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 71% !important;
}
.progress .progress-bar [data-value="72"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 72% !important;
}
.progress .progress-bar [data-value="73"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 73% !important;
}
.progress .progress-bar [data-value="74"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4e467;
  width: 74% !important;
}
.progress .progress-bar [data-value="75"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 75% !important;
}
.progress .progress-bar [data-value="76"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 76% !important;
}
.progress .progress-bar [data-value="77"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 77% !important;
}
.progress .progress-bar [data-value="78"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 78% !important;
}
.progress .progress-bar [data-value="79"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 79% !important;
}
.progress .progress-bar [data-value="80"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 80% !important;
}
.progress .progress-bar [data-value="81"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 81% !important;
}
.progress .progress-bar [data-value="82"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 82% !important;
}
.progress .progress-bar [data-value="83"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 83% !important;
}
.progress .progress-bar [data-value="84"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 84% !important;
}
.progress .progress-bar [data-value="85"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 85% !important;
}
.progress .progress-bar [data-value="86"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 86% !important;
}
.progress .progress-bar [data-value="87"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 87% !important;
}
.progress .progress-bar [data-value="88"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 88% !important;
}
.progress .progress-bar [data-value="89"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 89% !important;
}
.progress .progress-bar [data-value="90"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 90% !important;
}
.progress .progress-bar [data-value="91"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 91% !important;
}
.progress .progress-bar [data-value="92"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 92% !important;
}
.progress .progress-bar [data-value="93"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 93% !important;
}
.progress .progress-bar [data-value="94"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 94% !important;
}
.progress .progress-bar [data-value="95"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 95% !important;
}
.progress .progress-bar [data-value="96"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 96% !important;
}
.progress .progress-bar [data-value="97"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 97% !important;
}
.progress .progress-bar [data-value="98"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 98% !important;
}
.progress .progress-bar [data-value="99"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 99% !important;
}
.progress .progress-bar [data-value="100"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4aca4a;
  width: 100% !important;
}

.img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 880px;
  margin: auto;
  width: 100%;
  height: 100%;
}

.cursus li, .form li {
  width: 100%;
  position: relative;
}
.cursus li span, .form li span {
  display: inline-block;
  width: 85%;
}
.cursus li small, .form li small {
  position: absolute;
  right: 0;
  font-family: monospace;
  font-weight: bold;
}

.ci li {
  font-style: italic;
}

.icon {
  width: 35px;
  height: 35px;
}

.icon-top {
  position: relative;
  top: 12px;
}

@keyframes cling {
  to {
    opacity: 0.3;
  }
}
.btn-scroll {
  position: fixed;
  bottom: 22px;
  font-size: 40px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 0 4px #585858;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: cling 1s alternate-reverse infinite;
}
.btn-scroll .arrow {
  width: 50%;
  height: 50%;
  background-image: url("./../../images/064-down-arrow-4.svg");
  background-position: center;
}

.onbottom {
  animation: none;
}
.onbottom .arrow {
  width: 50%;
  height: 50%;
  background-image: url("./../../images/007-up-arrow-5.svg");
}

/*# sourceMappingURL=style.css.map */
